.pum-open-overlay.pum-open-scrollable {
    margin-right: 17px;
}

.pum-open-overlay.pum-open-scrollable body {
    position: relative;
}

html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
    padding-right: inherit;
}